<!-- <div *ngIf="hero">
    <div [class.red] = "hero.overAllRating(hero.powerStats) > 0 && hero.overAllRating(hero.powerStats) <= 10"><span> Hero Overall : {{hero.overAllRating(hero.powerStats)}} </span></div>
    <div [class.yellow] = "hero.overAllRating(hero.powerStats) > 10 && hero.overAllRating(hero.powerStats) <= 20"><span> Hero Overall : {{hero.overAllRating(hero.powerStats)}} </span></div>
    <div [class.green] = "hero.overAllRating(hero.powerStats) > 20 && hero.overAllRating(hero.powerStats) <= 30"><span> Hero Overall : {{hero.overAllRating(hero.powerStats)}} </span></div>
    <div [class.blue] = "hero.overAllRating(hero.powerStats) > 30 && hero.overAllRating(hero.powerStats) <= 40"><span> Hero Overall : {{hero.overAllRating(hero.powerStats)}} </span></div>
    
</div> -->




<div *ngIf="hero">
    <div>Combat : {{hero.powerStats.combat}}</div>
    <span>
        <label>Combat:
          <input type="number" [(ngModel)]="hero.powerStats.combat" placeholder="Combat"/>
          <div *ngIf="hero.powerStats.combat > 10 || hero.powerStats.combat <1 ">Please insert a value between 1 and 10!</div>
        </label>
    </span>
    <div>Speed : {{hero.powerStats.speed}}</div>
    <span>
        <label>Speed:
          <input type="number" [(ngModel)]="hero.powerStats.speed" placeholder="Speed"/>
          <div *ngIf="hero.powerStats.speed > 10 || hero.powerStats.speed <1 ">Please insert a value between 1 and 10!</div>
          
        </label>
    </span>
    <div>Intelligence : {{hero.powerStats.intelligence}}</div>
    <span>
        <label>Intelligence:
          <input type="number" [(ngModel)]="hero.powerStats.intelligence" placeholder="Intelligence"/>
          <div *ngIf="hero.powerStats.intelligence > 10 || hero.powerStats.intelligence < 1 ">Please insert a value between 1 and 10!</div>
        </label>
    </span>
    <div>Strenght : {{hero.powerStats.strength}}</div>
    <span>
        <label>Strength:
          <input type="number" [(ngModel)]="hero.powerStats.strength" placeholder="Strength"/>
          <div *ngIf="hero.powerStats.strength > 10 || hero.powerStats.strength <1">Please insert a value between 1 and 10!</div>
        </label>
    </span>
    
    <div [ngClass]="{
        'red': hero.overAllRating(hero.powerStats) > 0 && hero.overAllRating(hero.powerStats) <= 10,
        'yellow' : hero.overAllRating(hero.powerStats) > 10 && hero.overAllRating(hero.powerStats) <= 20,
        'green' : hero.overAllRating(hero.powerStats) > 20 && hero.overAllRating(hero.powerStats) <= 30,
        'blue' : hero.overAllRating(hero.powerStats) > 30 && hero.overAllRating(hero.powerStats) <= 40
}"><span> Hero Overall : {{hero.overAllRating(hero.powerStats)}} </span></div>
</div>


















<!-- <div *ngIf="hero && hero.overAllRating(hero.powerStats) > 0 && hero.overAllRating(hero.powerStats) <= 10">
    
        <div  ><span [class.red]> Hero Overall : {{hero.overAllRating(hero.powerStats)}} </span></div>  
    
</div> -->


<!-- <div *ngIf="hero">
    <div [class.red] = "hero.overAllRating(hero.powerStats) > 0 && hero.overAllRating(hero.powerStats) <= 10"><span> Hero Overall : {{hero.overAllRating(hero.powerStats)}} </span></div>
    <div [class.yellow] = "hero.overAllRating(hero.powerStats) > 10 && hero.overAllRating(hero.powerStats) <= 20"><span> Hero Overall : {{hero.overAllRating(hero.powerStats)}} </span></div>
    <div [class.green] = "hero.overAllRating(hero.powerStats) > 20 && hero.overAllRating(hero.powerStats) <= 30"><span> Hero Overall : {{hero.overAllRating(hero.powerStats)}} </span></div>
    <div [class.blue] = "hero.overAllRating(hero.powerStats) > 30 && hero.overAllRating(hero.powerStats) <= 40"><span> Hero Overall : {{hero.overAllRating(hero.powerStats)}} </span></div>
    
</div> -->